#game {
    box-shadow: 0 0 20px #00000055;
    position: relative;
    height: 400px;
}

#dinosaur {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 120px;
    height: 120px;
}


.cactus {
    position: absolute;
    bottom: 50px;
    left: -200px;
    height: 100px;
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: linear;
}

#dinosaur.jump {
    animation-name: jump;
    animation-duration: .9s;
    animation-timing-function: linear;
}

@keyframes jump {
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 250px;
    }
    100% {
        bottom: 50px;
    }
}

@keyframes slide {
    0% { left: -200px }
    100% { left: calc(100vw + 200px)}   
}